/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";

.leaflet-container {
    z-index: 1;
}

:root {
    --background: #171513;
    --foreground: #ebebeb;

}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-primary: #1b1918; /* Main color */
    --color-secondary: #23211E; /* Border color */
    --color-accent-1: #19ad39;
    --color-accent-2: #22201F;
    --color-accent-3: #2a3024;
    --font-poppins: "Poppins", sans-serif;
    --font-inter: "Inter", sans-serif;
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Inter, sans-serif;
    font-weight: 500;
}

.components {
    @apply gap-5 flex flex-col;
}

.nav_bar {
    @apply flex mb-5 justify-between items-center;
}

.nested_components {
    @apply gap-3 flex lg:flex-row max-w-full flex-col;
}

.sections {
    @apply flex flex-col flex-1 font-inter;
}

.sections h1 {
    @apply text-lg pb-2 font-bold;

}

.chart_container {
    @apply w-full h-full rounded-lg p-5 bg-primary border border-secondary flex flex-col justify-between;
}

.button_1 {
    @apply mt-3 cursor-pointer max-w-[10rem] bg-accent-2 border border-secondary p-1 px-3 rounded-lg hover:brightness-110 active:brightness-90;
}

.trailSummary {
    @apply text-lg pb-2 font-bold;
    color: #69a742;
}

.analysis_container {
    @apply w-full h-full rounded-lg p-5 bg-primary border border-secondary;
}

.map_container {
    @apply w-full h-full rounded-lg p-5 bg-primary border border-secondary;
    flex-grow: 1;
}

.header {
    @apply max-w-full rounded-2xl sticky m-3 border border-gray-400/5 backdrop-blur-lg top-3 z-50 flex flex-row justify-between items-center px-10 py-4 shadow-md bg-[#2a3024]/80;
}

.headerLink {
    @apply text-gray-400 py-2 px-4 text-base font-medium uppercase transition-colors transition-transform duration-300 
    hover:text-white hover:scale-105 cursor-pointer;
}

.headerLink.activeLink {
    @apply inset-shadow-xs inset-shadow-white/4 text-white transition-all border border-secondary ease-initial rounded-full bg-background;
}

.fileSelector {
    @apply hidden md:inline w-full border border-secondary pl-4 pr-2 py-2 bg-primary cursor-pointer;
}

.fileSelector_icon {
    @apply md:hidden inline;
}

.file_select_button {
    @apply py-2 cursor-pointer bg-accent-2 rounded-sm hover:brightness-125;
}

.burnt_toast {
    @apply bg-primary border border-secondary;
}

.chart {
    color: --var(color-foreground);

}

.gifStyle {
    @apply mx-auto my-6 rounded-xl shadow-lg border border-gray-200 dark:border-gray-700;
}
